<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div id="app">

        <h1>BJJ Goals</h1>
        <input type="text" id="goal" v-model="enteredValue" />
        <button v-on:click="addGoal">Add Goal</button>
        

        <ul>
            <li v-for="(goal, index) in goals" :key="index">{{ goal }}
                <button v-on:click="removeGoal(index)">removeGoal</button>
            </li>
            
        </ul>
    </div>
    <script src="https://unpkg.com/vue@3.4.9/dist/vue.global.js"></script>
    <script src="app.js"></script>
</body>

</html>